@model SATApp.DATA.EF.Cours

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center mt-5">@Model.CourseName</h2>

<div class="form-style text-center col-md-8 offset-2 mb-5">
    <div>

        <dl class="dl-horizontal">




            <dt>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreditHours)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditHours)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Curriculum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Curriculum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Exit", "Index", null, new { @class = "btn btn-primary" })
    </p>
</div>
@section scripts{
    <script>
    $(document).ready(function () {
        $('html,body').animate({
            scrollTop: $("#main").offset().top
        }, 1000);
    });
    </script>

}