@model IEnumerable<SATApp.DATA.EF.Cours>

@{
    ViewBag.Title = "Inactive Courses";
}

<h2 class="text-center">@ViewBag.Title</h2>

<p class="text-center">
    @Html.ActionLink("View Active Courses", "Index", null, new { @class = "btn btn-lg btn-danger" })
</p>
<table class="table myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curriculum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curriculum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                    @Html.ActionLink("Activate", "Delete", new { id = item.CourseID })
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script>
    $(document).ready(function () {
        $('html,body').animate({
            scrollTop: $("#main").offset().top
        }, 1000);
    });
    </script>
}