@model SATApp.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = Model.UserName;
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="text-center">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4 class="text-center">List of roles for this user</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>No roles found for this user.</p>
}

<table class="table text-center">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p class="text-center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger" })

    @Html.ActionLink("Exit", "Index", null, new { @class = "btn btn-primary" })
</p>

@section scripts
{
    <script>
    $(document).ready(function () {
        $('html,body').animate({
            scrollTop: $("#main").offset().top
        }, 1000);
    });
    </script>
}

