@model SATApp.UI.MVC.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit " + Model.Email;
}
<div class="form-style col-md-8 offset-2 mb-5" style="margin-top: -5%;">
    <h2 class="text-center mt-3">@ViewBag.Title</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal offset-1">

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Roles", new { @class = "control-label col-md-2" })
                <span class=" col-md-10">
                    @foreach (var item in Model.RolesList)
                    {
                        <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                        @Html.Label(item.Value, new { @class = "control-label" })
                    }
                </span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-danger offset-2" />
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary offset-5" })

                </div>
            </div>
        </div>
    }

    <div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        $('html,body').animate({
            scrollTop: $("#main").offset().top
        }, 1000);
    });
    </script>
}
