@model SATApp.DATA.EF.StudentStatus

@{
    ViewBag.Title = "Student Status Details";
}

<h2 class="text-center mt-5">@ViewBag.Title</h2>

<div class="form-style text-center col-md-8 offset-2 mb-5">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SSName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSDescription)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit Details", "Edit", new { id = Model.SSID }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Exit", "Index", null, new { @class="btn btn-primary" })
    </p>

</div>
@section scripts{
<script>
    $(document).ready(function () {
        $('html,body').animate({
            scrollTop: $("#main").offset().top
        }, 1000);
    });
</script>
    }