@model SATApp.DATA.EF.Student

@{
    ViewBag.Title = "Details";
}


<div class=" text-center col-md-10 offset-1 ">
    <h2>@Model.FullName</h2>
    <img src="~/Content/assets/img/@Model.PhotoURL" alt="@Model.FullName" />
    <div class="form-style mt-5">
        <div class="row">
            <div class="col-md-4">
                <h4>
                    @Html.LabelFor(model => model.Major): <span class="text-primary"> @Model.Major </span>
                </h4>
                <h4>
                    Student Status : <span class="text-primary">@Model.StudentStatus.SSName</span>
                </h4>
            </div>
            <div class="col-md-4">
                <h4>
                    @Html.LabelFor(model => model.StudentAddress): <span class="text-primary">@Model.StudentAddress</span>
                </h4>
                <h4>
                    @Html.LabelFor(model => model.Phone): <span class="text-primary">@Model.Phone</span>
                </h4>
            </div>
            <div class="col-md-4">
                <h4>
                    @Html.LabelFor(model => model.StudentID): <span class="text-primary">@Model.StudentID</span>
                </h4>
                <h4>
                    @Html.LabelFor(model => model.Email): <span class="text-primary">@Model.Email</span>
                </h4>

            </div>


        </div>
        <h4>
            @Html.LabelFor(model => model.Enrollments):
            @foreach (var item in Model.Enrollments)
            {
                <span class="text-primary"> @item.ScheduledClass.Cours.CourseName</span>
            }
        </h4>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section scripts
{
    <script>
    $(document).ready(function () {
        $('html,body').animate({
            scrollTop: $("#main").offset().top
        }, 1000);
    });
    </script>
}