@model SATApp.DATA.EF.Student

@{
    ViewBag.Title = "Details";
}


<div class=" text-center col-md-12">
    
   
    <div class="form-style mt-5 mb-5">
        <h2 class="text-center">@Model.FullName</h2>
        <div class="row">

            <div class="col-md-4" style="padding: 2em;">

                <h4>
                    @Html.LabelFor(model => model.Major): <span class="text-primary"> @Model.Major </span>
                </h4>
                <h4>
                    Student Status : <span class="text-primary">@Model.StudentStatus.SSName</span>
                </h4>
            </div>
            <div class="col-md-4" style="padding: 2em;">
                <h4>
                    @Html.LabelFor(model => model.StudentAddress): <span class="text-primary">@Model.StudentAddress</span>
                </h4>
                <h4>
                    @Html.LabelFor(model => model.Phone): <span class="text-primary">@Model.Phone</span>
                </h4>
            </div>
            <div class="col-md-4" style="padding: 2em;">
                <h4>
                    @Html.LabelFor(model => model.StudentID): <span class="text-primary">@Model.StudentID</span>
                </h4>
                <h4>
                    @Html.LabelFor(model => model.Email): <span class="text-primary">@Model.Email</span>
                </h4>

            </div>


        </div>
        <h4>
            @Html.LabelFor(model => model.Enrollments):
            @foreach (var item in Model.Enrollments)
            {
                <span class="text-primary"> @item.ScheduledClass.Cours.CourseName</span>
            }
        </h4>
        @if (User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentID }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Exit", "Index", null, new { @class = "btn btn-primary" })
            </p>
        }

    </div>
</div>

@section scripts
{
    <script>
    $(document).ready(function () {
        $('html,body').animate({
            scrollTop: $("#main").offset().top
        }, 1000);
    });
    </script>
}