@model IEnumerable<SATApp.DATA.EF.Student>

@{
    ViewBag.Title = "Withdrawn Students";
}

<h2 class="text-center">@ViewBag.Title</h2>

<p class="text-center">
    @Html.ActionLink("Active Students", "Index", null, new { @class = "btn btn-danger" })
</p>
<table class="table myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Major)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentAddress)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.SSID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Major)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentAddress)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.SSID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
               
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script>
    $(document).ready(function () {
        $('html,body').animate({
            scrollTop: $("#main").offset().top
        }, 1000);
    });
    </script>
}