@model SATApp.UI.MVC.Models.RoleViewModel

@{
    ViewBag.Title = "Add Role";
}

<div class="col-md-8 offset-2 form-style mb-5" style="margin-top: -5%">
    <h2 class="text-center">@ViewBag.Title</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)

            <div class="form-group offset-1">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group offset-1">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-danger offset-2" />
                    @Html.ActionLink("Exit", "Index", null, new { @class = "btn btn-primary offset-5" })
                </div>
            </div>
        </div>
    }

    <div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        $('html,body').animate({
            scrollTop: $("#main").offset().top
        }, 1000);
    });
    </script>
}
