@model SATApp.DATA.EF.ScheduledClass

@{
    ViewBag.Title = "Scheduled Class Details";
}

<h2 class="text-center mb-5 mt-5">@ViewBag.Title</h2>
<div class="form-style col-md-6 offset-3 text-center mb-5">
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InstructorName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstructorName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cours.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cours.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ScheduledClassStatus.SCSName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ScheduledClassStatus.SCSName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduledClassID }, new { @class = "btn btn-danger offset-1" })
        @Html.ActionLink("Exit", "Index", null, new { @class = "btn btn-primary offset-5" })
    </p>
</div>

@section scripts{
    <script>
    $(document).ready(function () {
        $('html,body').animate({
            scrollTop: $("#main").offset().top
        }, 1000);
    });
    </script>
}